- message_type = @page ? t('forums.message_type.comment')  : t('forums.message_type.reply') 

#forum
  = render :partial => 'posts/reply'

- content_for :breadhead do
  - if @page
    = link_to @page.title, @page.url, :class => 'breadhead'
  - else 
    = link_to @topic.name, forum_topic_url(@topic.forum, @topic), :class => 'breadhead'

- content_for :pagetitle do
  = t('forums.add_a_type', :message_type => message_type)